<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music">
        <activity android:name=".ui.activity.VideoPlayActivity"></activity>
        <activity android:name=".ui.activity.search.SearchVideoActivity" />
        <activity android:name=".ui.activity.zhujiemian.ZengZhiFuWuActivity" />
        <activity android:name=".ui.activity.zhujiemian.ShiYongShuoMingActivity" />
        <activity android:name=".ui.activity.zhujiemian.MianFeiJiaoXueActivity" />
        <activity android:name=".ui.activity.downloadmusic.DownLoadMusic1" />
        <activity android:name=".ui.activity.PDFImageActivity" />
        <activity android:name=".ui.activity.DownLoadGuJiActivity" />
        <activity android:name=".ui.activity.BanZouActivity" />
        <activity android:name=".ui.activity.search.SearchMusicActivity" />
        <activity android:name=".ui.activity.search.SearchYuePuActivity" />
        <activity android:name=".ui.activity.zhujiemian.LianXiGuJiActivity" />
        <activity android:name=".ui.activity.zhujiemian.DongTaiPuActivity" />
        <activity android:name=".ui.activity.zhujiemian.DaoRuQuPuActivity" />
        <activity android:name=".ui.activity.zhujiemian.XiaZaiYinYueActivity" />
        <activity android:name=".ui.activity.zhujiemian.BenDiQuPuActivity" />
        <activity android:name=".ui.activity.downloadqupu.ZhongGuoYuPuWangActivity" />
        <activity android:name=".ui.activity.ImageActivity" />
        <activity android:name=".ui.activity.downloadmusic.DownLoadMusic2" />
        <activity android:name=".ui.activity.downloadqupu.NiuRenYuePuWangActivity" />
        <activity android:name=".ui.activity.zhujiemian.BenDiYinYueActivity" />
        <activity android:name=".ui.activity.downloadqupu.ZhongGuoQuPuWangActivity" />
        <activity android:name=".ui.activity.zhujiemian.DownloadTheSongActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>