<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music">
        <activity android:name=".ui.activity.PDFImageActivity"/>
        <activity android:name=".ui.activity.DownLoadGuJiActivity" />
        <activity android:name=".ui.activity.BanZouActivity" />
        <activity android:name=".ui.activity.SearchMusicActivity" />
        <activity android:name=".ui.activity.SearchYuePuActivity" />
        <activity android:name=".ui.activity.XiTongSheZhiActivity" />
        <activity android:name=".ui.activity.LianXiGuJiActivity" />
        <activity android:name=".ui.activity.JiePaiQiActivity" />
        <activity android:name=".ui.activity.WenJianGuanLiActivity" />
        <activity android:name=".ui.activity.DaoRuQuPuActivity" />
        <activity android:name=".ui.activity.XiaZaiYinYueActivity" />
        <activity android:name=".ui.activity.BenDiQuPuActivity" />
        <activity android:name=".ui.activity.ZhongGuoYuPuWangActivity" />
        <activity android:name=".ui.activity.I7JiTaWangActivity" />
        <activity android:name=".ui.activity.ImageActivity" />
        <activity android:name=".ui.activity.CiQuWangActivity" />
        <activity android:name=".ui.activity.SouPuWangActivity" />
        <activity android:name=".ui.activity.NiuRenYuePuWangActivity" />
        <activity android:name=".ui.activity.BenDiYinYueActivity" />
        <activity android:name=".ui.activity.ZhongGuoQuPuWangActivity" />
        <activity android:name=".ui.activity.DownloadTheSongActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>